h1{
    text-align: left;
    font-weight: bold;
    color: white;
    padding: 20%;
    padding-top: 5%;   
}

h2{
    margin: auto;
    color: black;
    font-family: verdana;
    text-align: center;
    margin-bottom: 30px;
    text-decoration: underline #336699;
}

.section-A {
    height: 15%;
    width: 100%;
   }

.section-B {
    padding: 20%;
    padding-top: 10%;
    height: 30%;
    width: 100%;
    font-size: medium;
 }

.section-C {
   padding: 20%;
   padding-top: 10%;
   height: 50%;
   width: 100%;
   font-size: medium;
 }

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
  }
  
  .left {
    left: 0;
    background: linear-gradient(to bottom, #33cccc 0%, #336699 100%);
    padding: 5%;
  }

  .right {
    right: 0;
    background-color: white;
    padding: 5%;
    font-size: medium;
  }

  .btn-outline-primary{
      margin-right: 30px;
  }

  
  