.vl {
  border-left: 30px solid #f70d1a;
  height: 45px;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  top: 27%;
}
.Lcolumn{
  width: 50vw;
  height: 100vh;
  font-size: medium;
}

.Rcolumn{
  width: 50vw;
  height: 100vh;
  padding-left: 5%;
}

.col-sm-6{
padding: 10%;
line-height: 50px;
font-size: large;
}
