.LeftColumn{
    background: url(./car.png)bottom center no-repeat,
    url(./Emergency.png) repeat;
    width: 50vw;
    height: 100vh;
    font-size: medium;
  }

.RightColumn{
    width: 50vw;
    height: 100vh;
    padding-left: 5%;
}

.vline {
    border-left: 25px solid #f70d1a;
    height: 105px;
    position: absolute;
    left: 20%;
    margin-left: -3px;
    top: 20%;
  }

  @media (min-width: 768px) {
    .col-sm-6 {
      height: 33.33vh;
    }
  }