.left {
    background: #fbe9f9;
    width: 60vw;
    height: 100vh;
}

.right{
    width: 40vw;
    height: 100vh;
    background: url(./photo.jpeg)bottom center no-repeat,
    url(./photo.jpeg) repeat; 
}

.heading{
    text-align: left;
    font-weight: bold;
    color: red;
    padding-left:7%;
    padding-top: 2%;
    height:auto; 
}

.Description{
    padding-left:7%;
    padding-top: 2%;
    padding-right: 15%; 
}

.hline{
   padding-left: 7% ;
   top: 15%;
   width: 210px;
}

.Buttondiv{
    padding-left: 7%;
}

.button1{
    font-size: xx-large;
    width: 18vw;
    height: 20vh;
    background-color: #f70d1a;
}

.button2{
    font-size: xx-large;
    width: 18vW;
    height: 20vh;
    background-color: #0de7f7;
}

.numberdiv{
    margin-left: 30px;
    padding-right: 7%;
    padding-top: 4%;
    background-color: blue;
    width: 600px;
    height: 100px;
}



