*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

.left {
    background: #fbe9f9;
    width: 60vw;
    height: 100vh;
}

.right{
    width: 40vw;
    height: 100vh;
    background: url(./photo.jpeg)bottom center no-repeat,
    url(./photo.jpeg) repeat; 
}

.heading{
    text-align: left;
    font-weight: bold;
    color: red;
    padding-left:7%;
    padding-top: 2%;
    height:auto; 
}

.Description{
    padding-left:7%;
    padding-top: 2%;
    padding-right: 15%; 
}

.hline{
   padding-left: 7% ;
   top: 15%;
   width: 210px;
}

.BottomDiv{
    width: 30%;
    padding-top: 10px;
    padding-right: 10px;
}

.Buttondiv{
    display:flex;
    width: 600px;
}

.button1{
    display: inline-block;
    font-size: xx-large;
    width: 50%;
    height: 20vh;
    background-color: #f70d1a;
}

.button2{
    display: inline-block;
    font-size: xx-large;
    width: 50%;
    height: 20vh;
    background-color: #0de7f7;
}

.numberdiv{
    background-color: blue;
    width: 600px;
    height: 100px;
}
